{% extends 'base.html' %} {% block content %}

<section class="home">
  <h1>Welcome to our <a href="#">Todo</a> site</h1>

  <h2>This is <a href="#">Home</a> page</h2>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. A corrupti quaerat
    et aperiam laboriosam dolore, incidunt, dignissimos libero earum aut ipsum
    sed? Consequuntur rerum repellat fuga nesciunt repudiandae harum soluta,
    exercitationem quidem unde vitae doloribus odio quisquam. Dolorum,
    praesentium quam ab nisi dolore, dolor sed aliquam dolores repudiandae
    exercitationem quibusdam ducimus sit culpa nihil similique autem mollitia
    facere? Tenetur voluptas voluptatibus voluptate ex commodi veniam deserunt
    nobis voluptates eius aliquid blanditiis numquam deleniti, incidunt quod?
  </p>
</section>

{% endblock content %}
